[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
dvc = {extras = ["gdrive"], version = "*"}
sklearn = "*"
pandas = "*"
pytest = "*"
tox = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
